#logo{
  border-radius: 20px;
  width: 80%;
  height: 80%;
}

#principal{
  background-image: url('../../model/data/images/images_sites/adminheader.jpg');
}

#nav{
  margin-top: 0px;
}

.adherents{
  width: 32%;
  height: 450px;
  border: 2px solid black;
  border-radius: 15px;
  background-image: url('../../model/data/images/images_sites/adherent.jpg');
  background-size: cover;

}

.articles{
  width: 32%;
  height: 450px;
  border: 2px solid black;
  border-radius: 15px;
}

.paiements{
  width: 32%;
  height: 450px;
  border: 2px solid black;
  border-radius: 15px;
}

.box{
  margin-top: 40px;
  margin-left:10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body{
  background-image: url('../../model/data/images/images_sites/imagefond.jpg');
}
