<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div id="nom_formulaire">
    <form class="" actiona="../../controleur/pdf/nom_formulaire.php" method="post" autocomplete="on
    "><p> CODEPOSTAL :<br/>
          <input list=" CODEPOSTAL" type="text" name=" CODEPOSTAL"  />
          </p> \n<p> MAIL :<br/>
          <input list=" MAIL" type="text" name=" MAIL"  />
          </p> \n<p> VILLE :<br/>
          <input list=" VILLE" type="text" name=" VILLE"  />
          </p> \n<p> NOMPERSONNEMORAL :<br/>
          <input list=" NOMPERSONNEMORAL" type="text" name=" NOMPERSONNEMORAL"  />
          </p> \n<p> NUMAFFILIATION8 :<br/>
          <input list=" NUMAFFILIATION8" type="text" name=" NUMAFFILIATION8"  />
          </p> \n<p> NOMREPRESENTANT :<br/>
          <input list=" NOMREPRESENTANT" type="text" name=" NOMREPRESENTANT"  />
          </p> \n<p> NOM_APPELATION :<br/>
          <input list=" NOM_APPELATION" type="text" name=" NOM_APPELATION"  />
          </p> \n<p> LIEUX MANIF :<br/>
          <input list=" LIEUX MANIF" type="text" name=" LIEUX MANIF"  />
          </p> \n<p> CB1 :<br/>
          <input list=" CB1" type="text" name=" CB1"  />
          </p> \n<p> DATEMANIF :<br/>
          <input list=" DATEMANIF" type="text" name=" DATEMANIF"  />
          </p> \n<p> FORFAIT :<br/>
          <input list=" FORFAIT" type="text" name=" FORFAIT"  />
          </p> \n<p> FORFAITJ2 :<br/>
          <input list=" FORFAITJ2" type="text" name=" FORFAITJ2"  />
          </p> \n<p> NBPARTICIPANT :<br/>
          <input list=" NBPARTICIPANT" type="text" name=" NBPARTICIPANT"  />
          </p> \n<p> FORFAIT2 :<br/>
          <input list=" FORFAIT2" type="text" name=" FORFAIT2"  />
          </p> \n<p> NBPARTICIPANTJ1 :<br/>
          <input list=" NBPARTICIPANTJ1" type="text" name=" NBPARTICIPANTJ1"  />
          </p> \n<p> NBPARTICIPANTJ2 :<br/>
          <input list=" NBPARTICIPANTJ2" type="text" name=" NBPARTICIPANTJ2"  />
          </p> \n<p> FORFAITJ1 :<br/>
          <input list=" FORFAITJ1" type="text" name=" FORFAITJ1"  />
          </p> \n<p> FORFAITJ2B :<br/>
          <input list=" FORFAITJ2B" type="text" name=" FORFAITJ2B"  />
          </p> \n<p> TOTAL :<br/>
          <input list=" TOTAL" type="text" name=" TOTAL"  />
          </p> \n<p> FORFAITJ1B :<br/>
          <input list=" FORFAITJ1B" type="text" name=" FORFAITJ1B"  />
          </p> \n<p> NOMCLUB :<br/>
          <input list=" NOMCLUB" type="text" name=" NOMCLUB"  />
          </p> \n<p> DATE :<br/>
          <input list=" DATE" type="text" name=" DATE"  />
          </p> \n<p> LIEUX :<br/>
          <input list=" LIEUX" type="text" name=" LIEUX"  />
          </p> \n <div class="Bouton">
      <INPUT TYPE="submit" NAME="valider" VALUE="Valider">
      <INPUT TYPE="reset" NAME="reset" VALUE="Reinitialiser">
      </div>
      </form>    
  </body>
</html>
