<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <form class="" action="test_traitement.php" method="post">
      <input type="checkbox" name="telephone" value="1"> telephone 1 <br>
      <input type="checkbox" name="telephone" value="2"> telephone 2 <br>
      <input type="checkbox" name="telephone" value="3"> telephone 3 <br>
      <input type="checkbox" name="telephone" value="4"> telephone 4 <br>
      <input type="checkbox" name="telephone" value="5"> telephone 5 <br>
      <input type="submit" value="Valider">
    </form>
  </body>
</html>
